.performanceRanking  {
  .MuiList-root {
    .MuiListItemSecondaryAction-root {
      &.up .MuiIconButton-label::after{
        color: #10f3b0; 
        content: "\2191";
      }
      &.down .MuiIconButton-label::after{
        color: #ff8f45;
        content: "\2193";
      }
      .MuiIconButton-label {
        &::after{
          display: block;
          width: 2px;
          height: 24px;
          position: absolute;
          top: 10px;
          right: 8px;
        }
      }
    }
  }
}


.suspenseLoading{
  position: fixed;
  top:50%;
  left:50%;
  width: 100px;
  height: 40px;
  color:#000;
  text-align: center;
  margin: -20px 0 0 -50px;
  

}